<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
<title>Todo App - CrossBrowserTesting.com</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />


<style type="text/css">

.well {
  font-size: 32px;
  
}
.done-true {
	text-decoration: line-through;
	color: grey;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin: 15px;
}</style>


<script type="text/javascript">
angular.module('todoApp', [])
  .controller('TodoListController', function() {
    var todoList = this;
    todoList.todos = [
      {text:'Gather requirements for a "todo" app', done:false, name: 'todo-1'},
      {text:'Build the app in AngularJs', done:false, name: 'todo-2'},
      {text:'Create Selenium unit tests', done:false, name: 'todo-3'},
      {text:'Build selenium grid, buy devices, and setup a test lab - $$$', done:false, name: 'todo-4'},
      {text:'Hire an FTE to manage the lab - more $$$', done:false, name: 'todo-5'}];
 
    todoList.addTodo = function() {
      todoList.todos.push({text:todoList.todoText, done:false});
      todoList.todoText = '';
    };
 
    todoList.remaining = function() {
      var count = 0;
      angular.forEach(todoList.todos, function(todo) {
        count += todo.done ? 0 : 1;
      });
      return count;
    };
 
    todoList.archive = function() {
      var oldTodos = todoList.todos;
      todoList.todos = [];
      angular.forEach(oldTodos, function(todo) {
        if (!todo.done) todoList.todos.push(todo);
      });
    };
  });

</script>
</head>

<body>

	<div ng-app="todoApp" class="ng-scope">
  	<div class="container">
  		<h2>Todo App</h2>
  		<div class="well ng-scope" ng-controller="TodoListController as todoList">
  			<span class="ng-binding">3 of 5 remaining</span>

  			[ <a href="" ng-click="todoList.archive()">archive</a> ]
  			<ul class="list-unstyled">
  				<!-- ngRepeat: todo in todoList.todos --><li ng-repeat="todo in todoList.todos" class="ng-scope">
  					<input type="checkbox" ng-model="todo.done" name="todo-1" class="ng-pristine ng-untouched ng-valid" />
  					<span class="done-false">Gather requirements for a "todo" app</span>
  				</li><!-- end ngRepeat: todo in todoList.todos --><li ng-repeat="todo in todoList.todos" class="ng-scope">
  					<input type="checkbox" ng-model="todo.done" name="todo-2" class="ng-pristine ng-untouched ng-valid" />
  					<span class="done-false">Build the app in AngularJs</span>
  				</li><!-- end ngRepeat: todo in todoList.todos --><li ng-repeat="todo in todoList.todos" class="ng-scope">
  					<input type="checkbox" ng-model="todo.done" name="todo-3" class="ng-pristine ng-untouched ng-valid" />
  					<span class="done-false">Create Selenium unit tests</span>
  				</li><!-- end ngRepeat: todo in todoList.todos --><li ng-repeat="todo in todoList.todos" class="ng-scope">
  					<input type="checkbox" ng-model="todo.done" name="todo-4" class="ng-valid ng-dirty ng-valid-parse ng-touched" />
  					<span class="done-true">Build selenium grid, buy devices, and setup a test lab - $$$</span>
  				</li><!-- end ngRepeat: todo in todoList.todos --><li ng-repeat="todo in todoList.todos" class="ng-scope">
  					<input type="checkbox" ng-model="todo.done" name="todo-5" class="ng-untouched ng-valid ng-dirty ng-valid-parse" />
  					<span class="done-true">Hire an FTE to manage the lab - more $$$</span>
  				</li><!-- end ngRepeat: todo in todoList.todos -->
  			</ul>

  			<form ng-submit="todoList.addTodo()" class="ng-pristine ng-valid">
  				<input type="text" id="todotext" ng-model="todoList.todoText" size="30" placeholder="add new todo here" class="ng-pristine ng-untouched ng-valid" />
  				<input class="btn btn-primary" type="submit" id="addbutton" value="add" />
  			</form>
  		</div>
  	</div>
  </div>




</body></html>